[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clustord"]
	path = clustord
	url = https://github.com/vuw-clustering/clustord
